<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  ANALYTICS DATABASE MANAGER SQL TIMEOUT
            The timeout (in seconds), used to run SQL commands.
            Default: 3600
      -->
      <setting name="AnalyticsDatabaseManager.SqlTimeout" value="3600" />

      <!--  ANALYTICS DATABASE MANAGER BACKUP FILE NAME
            The mask, which is used as a default file name in backup task.
            The {0} token will be replaced with an actual date-time in format yyMMdd.
            Default: Analytics{0}.bak
      -->
      <setting name="AnalyticsDatabaseManager.BackupFileName" value="Analytics{0}.bak" />

      <!--  ANALYTICS DATABASE MANAGER DATABASE
            The name of analytics database to manage. Possible values: analytics, reporting.
            Default: analytics
      -->
      <setting name="AnalyticsDatabaseManager.Database" value="analytics" />
      
    </settings>
    
    <commands>
      <command name="analytics:rundbmanager" type="Sitecore.AnalyticsDatabaseManager.UI.RunAnalyticsDatabaseManager, Sitecore.AnalyticsDatabaseManager" />
    </commands>
    
  </sitecore>
</configuration>